<ul>
<li class="first"><a href="<$MTBlogURL$>">Main</a></li>
<MTCategories>
<li><a href="<$MTCategoryArchiveLink$>"><$MTCategoryLabel$></a></li>
</MTCategories>
</ul>
<br />
<span class="caption">Copyright 2012 <a href="http://perrin3.com">Bill Perrin</a> All rights reserved.<br />
<a href="http://perrin3.com/contact/">Contact</a> the webmaster<br />
Powered by <a href="http://www.movabletype.org">Movable Type <$MTVersion$></a>
</span>