<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Contact Bill Perrin</title>
<meta name="description" content="Use this form to send Bill Perrin a message" />
<meta name="keywords" content="email e-mail contact form" />
<meta http-equiv="Content-Type" content="text/html; charset=<$MTPublishCharset$>" />

<$MTInclude module="head RSS"$>

<MTBlogIfCCLicense>
<$MTCCLicenseRDF$>
</MTBlogIfCCLicense>

<$MTInclude module="head CSS"$>
<link rel="stylesheet" type="text/css" media="screen,print" href="<$MTBlogURL$>individual.css" />
</head>
<body>
<div id="wrapper">

<div id="header"><!-- header text - 70px high --></div>
<div id="subnav">
<span><a href="<$MTBlogURL$>">Home</a> :</span>
</div><!-- end subnav -->

<div id="contentfloatholder">

<div id="centerwrap">
<div id="center" class="inset">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="boxcontent">

<h1>Contact</h1>

<p>You can use the form below to get in touch with me. I'm generally pretty good about getting back to people who have questions...and I promise not to add you to any spam lists ;-)</p>
<div>
  <!-- Display error messages (required fields etc.) -->
  <LOOP NAME="message">
    <blockquote style="color:#FF5F00;">
      <p style="font-weight:bold;">{message}</p>
      <blockquote>{fields}</blockquote>
    </blockquote>
  </LOOP NAME="message">


  <!-- Display posted information -->
  <LOOP NAME="display_data">

    <p>{txt_firstname}: {firstname}</p>
	<p>{txt_lastname}: {lastname}</p>
	<p>{txt_email}: {email}</p>
	<p>{txt_subject}: {subject}</p>
	<p>{txt_comment}: {comment}</p>
  </LOOP NAME="display_data">





  <!-- Display form -->
  <IF NAME="display_form">
  <form action="./index.php" method="post">
    <input type="hidden" name="required_fields" value="lastname, email, subject" />
    <input type="hidden" name="email_fields" value="email" />
    <input type="hidden" name="html_template" value="form.tpl.html" />
    <input type="hidden" name="mail_template" value="mail.tpl.txt" />
    <!-- <input type="hidden" name="thanks" value="./docu/thanks.html" /> -->

    <p>{txt_firstname}<br /><input type="Text" name="firstname" value="{firstname}" size="40" /></p>
	<p>{txt_lastname} *<br /><input type="Text" name="lastname" value="{lastname}" size="40" /></p>
    <p>{txt_email} *<br /><input type="Text" name="email" value="{email}" size="40" /></p>
	<p>{txt_subject} *<br /><input type="Text" name="subject" value="{subject}" size="40" /></p>
    <p>{txt_comment}<br />
	<textarea name="comment" cols="50" rows="10">{comment}</textarea></p>
    <p class="ctr"><input type="submit" name="mode_preview" value="{txt_preview}" />&nbsp;&nbsp;
    <input type="submit" name="send" value="{txt_submit}" /></p>
  </form>
  <p>* = {txt_mandatory_fields}</p>
  </IF NAME="display_form">
</div>

</div><!-- end boxcontent -->
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div><!-- end center -->
</div><!-- end centerwrap -->

<div id="right">
<h3>Topics</h3>

<ul class="menu">
<li><a href="<$MTBlogURL$>">Home</a></li>
<MTTopLevelCategories>
 <li><a href="<$MTCategoryArchiveLink$>" title="<MTCategoryLabel>"><MTCategoryLabel></a></li>
</MTTopLevelCategories>
<li><a id="current" href="<$MTBlogURL$>contact/">Contact</a></li>
</ul>

<h3>Private</h3>
<$MTInclude module="Private Links"$>

<h3>Feeds</h3>
<$MTInclude module="Feeds sidebar"$>

</div><!-- end right -->

<div id="left">
&nbsp;
</div><!-- end left -->

</div><!-- end contentfloatholder -->

<div id="footer" class="ctr">
<$MTInclude module="footer"$>
</div><!-- end footer -->
</div><!-- end wrapper -->
</body>
</html>
