<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>404: File Not Found</title>
<meta http-equiv="Content-Type" content="text/html; charset=<$MTPublishCharset$>" />
 <meta name="ROBOTS" content="NOINDEX,FOLLOW">
<$MTInclude module="head RSS"$>
<$MTInclude module="head CSS"$>

</head>
<body>
<div id="wrapper">

<div id="header"><!-- header text - 70px high --></div>
<div id="subnav">
<span><a href="<$MTBlogURL$>">Home</a> :</span>
</div><!-- end subnav -->

<div id="contentfloatholder">

<div id="centerwrap">
<div id="center" class="inset">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="boxcontent">

<h1>404: File Not Found</h1>

<div class="ctr" style="font-size:200px;font-weight:bold;display: block;margin: -50px 0 20px 0;">:-(</div>

<p>I'm sorry, but the the page you requested has run away.</p>

<p>If you're feeling gregarious, I would love it if you'd <a href="/contact/">drop me a quick note</a> telling what you were looking for. That way I can hunt it down and put it in its proper place.</p>

</div><!-- end boxcontent -->
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div><!-- end center -->
</div><!-- end centerwrap -->

<div id="right">
<h3>Topics</h3>

<ul class="menu">
<li><a id="current" href="<$MTBlogURL$>">Home</a></li>
<MTTopLevelCategories>
 <li><a href="<$MTCategoryArchiveLink$>" title="<MTCategoryLabel>"><MTCategoryLabel></a></li>
</MTTopLevelCategories>
<li><a href="<$MTBlogURL$>contact/">Contact</a></li>
</ul>

<h3>Private</h3>
<$MTInclude module="Private Links"$>

<h3>Feeds</h3>
<$MTInclude module="Feeds sidebar"$>

</div><!-- end right -->

<div id="left">
<$MTInclude module="left sidebar"$>
</div><!-- end left -->

</div><!-- end contentfloatholder -->

<div id="footer" class="ctr">
<$MTInclude module="footer"$>
</div><!-- end footer -->
</div><!-- end wrapper -->
</body>
</html>