<ul class="syndicate">
<li><a href="<$MTBlogURL$>index.xml" title="Subscribe to the perrin3 feed">
<img src="/images/xml-button.gif" alt="" /></a></li>
<li>
<a href="http://my.msn.com/addtomymsn.armx?id=rss&ut=<$MTBlogURL$>index.xml&ru=<$MTBlogURL$>" title="Subscribe to the perrin3 feed">
<img src="/images/my-msn.gif" alt="Add to My MSN" /></a></li>
<li>
<a href="http://feeds.feedburner.com/perrin3" title="Subscribe to the perrin3.com feed">
<img src="/images/feedburner.gif" alt="Feedburner feed" /></a></li>
<li>
<a href="http://www.bloglines.com/sub/<$MTBlogURL$>index.xml" title="Subscribe to the perrin3 feed">
<img src="/images/bloglines.gif" alt="Subscribe with Bloglines" />
</a></li>
<li>
<a href="http://add.my.yahoo.com/rss?url=<$MTBlogURL$>index.xml" title="Subscribe to the perrin3 feed">
<img src="/images/addtomyyahoo.gif" alt="Add to My Yahoo!" /></a></li>
<li>
<a href="http://www.newsgator.com/ngs/subscriber/subext.aspx?url=<$MTBlogURL$>index.xml" title="Subscribe to the perrin3 feed">
<img src="/images/newsgator.gif" alt="Subscribe in NewsGator Online" /></a></li>
<li>
<a href="http://www.rojo.com/add-subscription?resource=<$MTBlogURL$>index.xml"> 
<img src="/images/RojoWideBlue.gif" alt="Subscribe in Rojo" /></a></li>
<li><a href="http://www.newsburst.com/Source/?add=<$MTBlogURL$>index.xml">
<img src="/images/newsburst3.gif" alt="Add to Newsburst from CNET News.com" /></a>
</li>
</ul>
