<MTBlogIfCCLicense>
<div class="link-note">
<a href="<$MTBlogCCLicenseURL$>"><img alt="Creative Commons License" src="<$MTBlogCCLicenseImage$>" /></a><br />
This weblog is licensed under a <a href="<$MTBlogCCLicenseURL$>">Creative Commons License</a>.
</div>
</MTBlogIfCCLicense>

<span>
<sup>&copy;</sup>1996-2013 by <a href="<$MTBlogURL$>contact/">Bill Perrin</a>. All rights reserved.
</span>

<div id="powered">
Powered by <a href="http://www.movabletype.org">Movable Type</a>   
</div>