<!-- the IE7 javascript is for IE min-width only in this example -->
<!--[if lt IE 7]>
<script src="<MTBlogURL>ie7/ie7-standard-p.js" type="text/javascript"></script>
<style type="text/css" media="screen">
#wrapper {word-wrap: break-word;} /* ie proprietary property to force long words to break rather than the layout */
</style>
<![endif]-->
<meta http-equiv="Content-Style-Type" content="text/css" />
<link rel="stylesheet" type="text/css" media="screen,print" href="<MTBlogURL>main.css" />
